.latitude_vs_x {
  height: 100%;
  padding: 4rem 2rem;
  color: #212529;
  background: #e9ecef;
}

.display-4{
	font-size:30px;
}

.display-3{
	font-size:25px;
	text-align: center;
}

.dataframe{
	margin-left:  auto;
	margin-right: auto;
	margin-top: 25px;
}

/*index page*/

.post {
  margin-top: 50px;
  margin-right: 120px;
  margin-left: 120px;
}


.index_img{
	float:  left;
}


/*Visualization Page*/
.temp_plot{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.humidity_plot{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.cloudiness_plot{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wind_plot{
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* Comparison page */
* {
  box-sizing: border-box;
}

.comparison_img{
  float: left;
  width: 95%;
  padding: 5px;
}

.column{
  float: left;
  width: 45%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

